<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  
  <!-- Range Slider style sheet -->
  <link rel="stylesheet" href="./css/style.min.css">
  
      <style>
  .range-slider-container {
  position:relative;
  width:100%;
}

.range-slider-left {
  position:absolute;
  top:0;
  width:100%;
  md-slider .md-track-container .md-track.md-track-fill {
    background-color:rgb(132,132,132);
  }
}

.range-slider-right {
  position:absolute;
  top:0;
  right:0px;
}

// Overwrite specific to range adaptation
.range-slider-right md-slider .md-thumb-container {
  transition: -webkit-transform 0s linear;
  transition: transform 0s linear;
}

.range-slider-left md-slider.md-default-theme .md-track.md-track-fill {
  background-color:rgba(0,0,0,0.26) !important;
}

.range-slider-display{
	display:inline-block;
	width:50px;
	height:58px;
	text-align:center;
	vertical-align:middle;
}
</style>
  
</head>
<body ng-app="BlankApp" ng-controller="MainController" ng-cloak>
  <!--
    Your HTML content here
  -->
  <div layout="column" style="padding-left:20px">
	<div layout="row">
		<div layout="column" layout-xs="column">
			<div style="width:200px;">
				<md-slider ng-model="myValue1" step="1" min="10" max="130">
				</md-slider>
			</div>
		</div>
		<div layout="column" layout-xs="column">
			<div style="width:200px;">
				<md-slider ng-model="myValue2" step="1" min="10" max="130">
				</md-slider>
			</div>
		</div>
	</div>
	<div layout="row">
    <md-slider-container>
      <span>R</span>
      <md-slider flex min="0" max="255" ng-model="red" id="red-slider">
      </md-slider>
      <md-input-container>
        <input style="min-width:60px" flex type="number" ng-model="red" aria-controls="red-slider">
      </md-input-container>
    </md-slider-container>
  </div>

  <div layout="column">

    <md-button class ="md-button-toggle md-button md-ink-ripple" ng-click="toggle()" aria-controls="docs-menu-Demos" aria-expanded="false">Vodka</md-button>

    <div layout="column" style="padding-left:20px">
      <div ng-show="show">
        <div flex-gt-sm="50" ng-repeat="n in number">
          <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb9" class="md-primary">
                  {{n}}
          </md-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div layout="column" style="max-width:200px;padding-left:20px;">
	{{lower}}<range-slider lower-value="lower" upper-value="upper" min-gap="1" step="1" min="min" max="max" ></range-slider>{{upper}}
  </div>
</div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  
  <!-- Range Slider library -->
  <script src="./js/md-range-slider.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">

    /**
     * You must include the dependency on 'ngMaterial'
     */
	var app = angular.module('BlankApp', ['ngMaterial','mdRangeSlider'])
		.config(function($mdThemingProvider) {
		  $mdThemingProvider.theme('default')
			.primaryPalette('red')
			.accentPalette('cyan', {
					'default':'400',
					'hue-1': '600'
				}
			);
		});
    app.controller("MainController",['$scope',function($scope){
      $scope.red=100
      $scope.number = ["Monopolwa","Chopin","Cracovia","Absolut"];
      $scope.show=true
      $scope.toggle=function(){
        $scope.show=!$scope.show
      }
	  
		$scope.min = 0;
		$scope.max = 20;
		$scope.lower = 0;
		$scope.upper = 5;
		$scope.n = ["Monopolwa","Chopin","Cracovia","Absolut"];
		$scope.testMin = 0;
		$scope.testMax = 8;
    }]);
	app.directive('testDir', function(){
		return{
			restrict: "E",
			scope:{
				lower:"=lower",
				upper:"=upper",
				min:"=min",
				max:"=max"
			},
			template:"<div class='range-slider-display'>{{lower}}</div><div style='display:inline-block;width: calc(100% - 100px);'><range-slider lower-value=\"lower\" upper-value=\"upper\" min-gap=\"1\" step=\"1\" min=\"min\" max=\"max\" ></range-slider></div><div class='range-slider-display'>{{upper}}</div>"
		}
	});
	app.directive('ocCheckbox', function() {
    return {

		scope :{
			table : "=table"
		},
        template: '<md-button class ="md-button-toggle md-button md-ink-ripple" ng-click="show=!show" aria-controls="docs-menu-Demos" aria-expanded="false">Vodka</md-button><div layout="column" style="padding-left:20px">'+
		
		'<div ng-show="show"><div flex-gt-sm="50" ng-repeat="n in table"><md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb9" class="md-primary">{{n}}</md-checkbox></div></div></div>'
    };
});
  </script>

  

  <oc-checkbox table="number"></oc-checkbox>

<br /><br />
 <div style="width:500px;"> <test-dir lower="lower" upper="upper" min="min" max="max"></test-dir></div>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
